use Mix.Config

config :ouija, Ouija.Endpoint,
  secret_key_base:
    "Fill me in."

# Configure your database
# config :ouija, Ouija.Repo,
#   adapter: Ecto.Adapters.Postgres,
#   username: "postgres",
#   password: "postgres",
#   database: "ouija_prod",
#   pool_size: 20
